@tailwind base;
@tailwind components;
@tailwind utilities;

.kaushan {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: 'Inter', cursive;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-ON_SURFACE text-[24px] leading-[135%] h-full font-[inter];
  }
}

@layer components {
  .container {
    @apply w-[1200px] mx-auto px-4;
  }

  .text-14 {
    @apply text-[14px] leading-[115%] font-medium;
  }

  .h1 {
    @apply text-[64px] leading-[115%];
  }
}
