@tailwind base;
@tailwind components;
@tailwind utilities;

.kaushan {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", cursive;
  font-weight: 400;
  font-style: normal;
}

.arrow {
  transform: scale(1, -1);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-ON_SURFACE text-[24px] leading-[135%] h-full font-[inter];
  }
}

@layer components {
  .container {
    @apply w-[1232px] mx-auto px-4;
  }

  .text-14 {
    @apply text-[14px] leading-[115%] font-medium;
  }

  .h1 {
    @apply text-[64px] leading-[115%];
  }

  .h2 {
    @apply text-[48px] font-medium -tracking-[2%] leading-none font-[kaushan];
  }

  .input {
    @apply p-4 text-[14px] text-ON_SURFACE_VAR focus:outline-none border rounded-[4px] placeholder:text-ON_SURFACE_VAR border-OUTLINE_VAR font-medium leading-[140%] bg-transparent;
  }
}
